$rouge-gifi: #e1004a;
$gray005: #f0f0f0;
$gray01: #F5F5F5;
$gray02: #ebebeb;
$gray025: #e4e3e3;
$gray03: #DCDCDC;
$gray04: #D3D3D3;
$gray045: #c4c4c4;
$gray05: #bebebe;
$gray06: #A9A9A9;
$gray065: #9c9c9c;
$gray07: #808080;
$gray08: #696969;
$gray085: #505050;
$gray09: #303030;
$gray095: #181818;
$gray10: #130E0A;

$blackPrimary: #222;

$verrouille:  #cccccc;
$aLancer:  #A3CFFF;
$bleu:  #165599;
$bleuFonce:  #1967b9;
$bleuNeutre:  #0d80fc;
$enCoursHachure:  #9acafd;
$bleuAlert:  #9acafd59;
$bleuAlertDark:  #294a6da1;
$terminee: #87BA7E;
$colorSuccess: #87BA7E;
$colorSuccessDark: #4f8a45;
$ko:       #FFC107;
$testMode: #CC4B00;
$gold: #cf9c1c;

$errorPrimary: #d10d20;
$valide: #87BA7E;

$orangeFierte: #f97417;
$bleuFierte: #1B40AB;
$mixte: #9f01c7;
$femme: #DC3545;
$errorLight: #ffb5bc;
$error: #EC9099;
$errorDark: #d3606c;
$errorDarker: #b32d3a;
$pending: #fbecb8;
$pendingDark: #a72c01;
$success: #d7f7c2;
$successDark: #006908;
$limite: #cff5f6;
$limiteDark: #0055BC;
$danger: #ff7f00;

$primary: #df0000;
$danger: #c00000dc;
$primaryAlpha: #fa999920;
$secondary: rgb(255, 61, 61);

// $division1: #5684B9; 
// $division2: #ffad32; 
// $division3: #cc4f60; 
// $division4: #6cbbf3; 
// $division5: #7BA95C; 
// $division6: #222E53; 
// $division7: #ec002f; 
// $division8: #0d4ed1; 
// $division9: #4AA3A2; 
// $division10: #8801B2; 
// $division11: #4b4a5a; 
// $division12: #a55540; 

$division1: #1E90FF;
$division2: #FF4500;
$division3: #32CD32;
$division4: #FF8C00;
$division5: #00CED1;
$division6: #FF1493;
$division7: #4B0082;
$division8: #DC143C;
$division9: #8B0000;
$division10: #00FA9A;
$division11: #9932CC;
$division12: #7CFC00;
$division13: #FF6347;
$division14: #4682B4;
$division15: #8A2BE2;

