@media (min-width: 481px) {
  .legend-top {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  .input-date-export {
    max-width: 42px;
  }
  .input-date-export.large {
    max-width: 60px;
  }
  .nav-right {
    gap: 24px !important;
  }
  .toast-error-register {
    width: 400px;
    right: 25%;
  }
}

@media (min-width:744px) {
  .toast-error-register {
    width: 450px !important;
    right: 45%;
  }
}