.skill-container-edit {
  
}

@media (min-width: 481px) {
  .legend-top {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  .input-date-export {
    max-width: 42px;
  }
  .input-date-export.large {
    max-width: 60px;
  }
  .nav-right {
    gap: 24px !important;
  }
  .toast-error-register {
    width: 400px;
    right: 25%;
  }
}

@media (min-width:600px) {
  .change-category-container {
    background-color: rgba(0,0,0, 0.65);
  }

  .change-category-wrapper {
    max-width: 500px;
    left: 50%;
    height: 90vh;
    // overflow: hidden;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px 12px 12px 12px !important;

    .filter-footer {
      border-radius: 0 0 12px 12px !important;
    }
    .filter-carte-container {
      height: 480px;
    }
    .filtre-content-btn-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (min-width:680px) {
  .delete__popup {
    width: 70vw !important;
    max-width: 900px !important;
  }
  .change-category-wrapper.height-auto {
    // height: min-content;
    .filtre-content-container {
      padding-left: 5%;
      padding-right: 10%;
      padding-bottom: 2%;
    }
    .price-description {
      width: 80%;
    }
    .title-filter-competition {
      width: 100%;
    }
  }
}

@media (min-width:744px) {
  .toast-error-register {
    width: 450px !important;
    right: 45%;
  }
  .change-category-wrapper {
    max-width: 720px;
  }
}

@media (min-width:1021px) {
  .change-category-wrapper {
    max-width: 900px;
  }
}

